.h1 {
    color:white;
    align-self:flex-start;
    padding-right:72%;

    @media screen and (max-width: 600px) {
        margin-left:0%;
        width:100%
    }
}


text {
    color:white;
    align-self:flex-start;
    margin-left:5%;
    padding-right:3%;
    font-weight: 50;

    @media screen and (max-width: 600px) {
        margin-left:0%;
        padding-right:0%;    
    }
}

 img  {
    height:70%;
    width:20%;
    margin-top:25px;
    margin-right:5px;
    align-self:flex-start;
    margin-left:2%;

    @media screen and (max-width: 600px) {
        width: 40%;   
    }

}

.Div  {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
    background-color:#294293;
    height:10rem;
}